@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');

*{
    font-family: 'Quicksand', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .1s linear;
}

body{
    background: #eee;
    padding-left: 25rem;
}

header{
    background: #444;
    padding: 2.5rem;
    color: #fff;
    font-size: 1.5rem;
}

aside{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: #333;
    width: 25rem;
    height: 100%;
    padding: 2rem;
}

aside nav{
    padding: 15% 0;
}

aside h1{
    font-size: 2.5rem;
    font-weight: bold;
    color: #eee;
}

nav a{
    display: block;
    color: #fff;
    background: #666;
    border-radius: .5rem;
    font-size: 1.2rem;
    margin: 1rem 0;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover{
    background: #999;
    letter-spacing: .1rem;
}

main{
    font-size: 1.4rem;
    padding: 2rem;
}

form{
    margin: 1rem 0;
    padding: 1rem .5rem;
    background: linear-gradient(to right, #ccc, #eee);
    border-radius: .5rem;
}

form p{
    margin-top: 1rem;
}

input[type=text], input[type=number]{
    padding: .5rem;
    border: 1px solid #333;
    border-radius: .2rem;
    color: #333;
}
input[type=submit]{
    padding: .5rem;
    border-radius: .2rem;
    border: 1px solid #333;
    color: #fff;
    background: #333;
}

input[type=submit]:hover{
background: #666;
cursor: pointer;
}